body {
    background-color: #555d81;
    font-family: 'Raleway', sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  /* margin: 20px 20px 20px 20px; */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button-3 a {
  position: relative;
  transition: all .45s ease-Out;
}

.circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #BFC0C0;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

.button-3:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

.button-3:hover a {
  color: #2D3142;
}
