
<!-- <p>amogus</p> -->
<!-- <button (click)="whereAmI()">button</button> -->

<!-- <router-outlet></router-outlet> -->

<div *ngIf="isDropdown">
  <app-dropdown></app-dropdown>
</div>
<div *ngIf="!isDropdown">
  <app-tabpage></app-tabpage>
</div>
