h1 { color: white; }
p { color: white; margin: 0; margin-left: .5em;}
.categorytitle {
    // margin-bottom: .7em;
    display: flex;
    margin-left: .5em;
}
.categoryDiv{
    padding: .5%;
    margin: 1%;
}
.categoryDiv:hover {
    background-color: #454B4E;
}
ul {
    margin: .8%;
}
li {
    list-style-type: none;
    margin-bottom: .3%;
}
a {
    color: white;
}
.tabFavicon {
  // font-size: 0.7em;
}
