<span style="display: flex; align-items: center; justify-content: flex-start;">
    <img src="./../../assets/logo.png" alt="Schaer Tab Organizer" height="70">
    <h1 style="margin-left: 2em">Schaer Tab Organizer</h1>
</span>
<hr style="margin-bottom: 1.5em;">

<!-- <div *ngFor="let tab of tabList">
  <p>{{tab | json}}</p>
</div> -->

<!-- <div *ngFor="let cat of categoryList">
  {{cat | json}}
  {{cat.color}}
</div> -->

<div *ngFor="let category of categoryList" class="categoryDiv" [style.background-color]="category.color?category.color:null">

    <div class="categorytitle">
        <svg (click)="category.visible=!category.visible" [style.transform]="category.visible?'rotateZ(180deg)':'rotateZ(90deg)'" viewBox="0 0 100 100" style="margin-top:.4%; width: 0.6875em; height: 0.6875em; fill: white;"><polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon></svg>
        <p (click)="category.visible=!category.visible">{{category.title}}</p>
        <p style="color:grey">({{filterByCategory(category).length}})</p>
    </div>

    <ul *ngIf="category.visible">
        <li *ngFor="let tab of filterByCategory(category)" class="tab">
          <div style="display: flex; align-items: center; justify-content: flex-start; gap: 10px;">
            <span>x</span>
            <img class="tabFavicon" src="{{tab.faviconUrl}}" height="19">
            <a href="{{tab.url}}" target="_blank">{{tab.title}}</a>
            <span style="margin-left: 1em; color: grey;">{{formatDate(tab.dateAdded)}}</span>
          </div>

        </li>
    </ul>

</div>
