
<div class="wrapper">

    <p id="test" style="color: white;">{{testText}}</p>

    <a routerLink="/index.html" target="_blank">tabpage</a>

    <span *ngFor="let category of categories">
      <div class="button button-3" id="category.id" [style.background-color]="category.color" (click)="getAndSave(category.id)">
        <div class="circle"></div>
        <a>{{category.title}}</a>
      </div>
    </span>

</div>
